footer{
    height: 220px;
    background-color: #eee;
    margin-top: 40px;
  
      
}

footer .wrap{
    padding-top: 50px;
    position: relative;
    overflow: hidden;
}


footer ul.fnb{
    
    float: left;
    font-size: 13px;
    color: #777;
    margin-bottom: 57px;
    line-height: 1.7;
}

footer ul.fnb li{
    line-height: 1.5;
  
}



footer ul.fnb li a{

}

footer address{
  
    float: left;
    margin-left: 86px;
    font-size: 13px;
    color: #777;
    line-height: 1.4;
}

footer select{

    float: right;
    border: none;
    width: 200px;
    border-top: 1px solid #666;
    padding-top: 10px;
    background-color: transparent;
}

footer select option{

}

footer p.copyright{

    /*! position: absolute; */
    /*! top: 95px; */
    color: #666;
    font-size: 12px;
    clear: both;
    border-top: 1px solid #777;
    padding-top: 20px;
    padding-bottom: 20px;
}